@mixin animation(
    $name,
    $duration,
    $timing-function: ease,
    $delay: 0s,
    $iteration-count: 1,
    $direction: normal,
    $fillmode: forwards
) {
    animation: {
        name: $name;
        duration: $duration;
        timing-function: $timing-function;
        delay: $delay;
        iteration-count: $iteration-count;
        direction: $direction;
        fillmode: $fillmode
    }
}